<div class="d-flex justify-content-between">
    <div class="pt-4 d-flex flex-wrap justify-content-center pl-4 w-75">
        {{#each items}}
        <div class="card mr-4 mb-4" style="width: 18rem;">
            {{#eq tipo.descripcion 'Camiseta'}}
            <img src="https://mms-images-prod.imgix.net/mms/images/catalog/6f38c951f2eb06a5c60c994971941281/colors/116200/views/alt/front_medium_extended.png?dpr=1.2&w=320"
                class="card-img-top" alt="Imagen ilustrativa" height="288px">
            {{else}}
            <img src="https://blackkaps.com/wp-content/uploads/2018/08/BlackKaps.com-Black-Kaps-Coffee-Mug-Pot-Head-Front-View-Mug-Mockup-510x510.png"
                class="card-img-top" alt="Imagen ilustrativa" height="288px">
            {{/eq}}
            <div class="card-body">
                <h5 class="card-title">{{tipo.descripcion}}</h5>
                <p class="card-text">{{descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cantidad: {{cantidad}}</li>
                <li class="list-group-item">Precio: {{tipo.precio_venta}}</li>
                <li class="list-group-item">Precio total: {{multiply cantidad tipo.precio_venta}}</li>
                <li class="list-group-item">Fecha prevista de entrega: {{entrega}}</li>
            </ul>
            <div class="card-body d-flex justify-content-center">
                <a href="#" class="card-link">Eliminar</a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="menu pt-4 pr-4">
        <a href="/clientes/nuevo" class="btn btn-primary btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/3208/3208790.svg" class="mb-2" width="50px"
                alt="Nuevo cliente">
            <p>Nuevo cliente</p>
        </a>
        <a href="/clientes" class="btn btn-info btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/3094/3094700.svg" class="mb-2" width="50px" alt="Salir">
            <p>Salir</p>
        </a>
        <a href="/" class="btn btn-light btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/609/609803.svg" class="mb-2" width="50px" alt="Home">
            <p>Inicio</p>
        </a>
    </div>
</div>