<div class="d-flex justify-content-between">
    <div class="lista d-flex flex-column">
        <form action="/pedidos/buscar" method="POST" class="d-flex form-inline justify-content-center mt-4 mb-4">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input name="cedula" style="font-size: large;" class="p-4 form-control form-control-sm ml-3 w-75"
                type="text" placeholder="Ingrese la cédula..." aria-label="Search" autocomplete="off" autofocus>
        </form>
        <div class="list-group align-self-center w-75">
            {{#each pedidos}}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-0">{{id_cliente.nombre}} (Pedido #{{nro}})</h5>
                    <h5 class="mb-0">Abono: B/.{{abono}}</h5>
                    <h5 class="mb-0">Importe total: B/.{{total}}</h5>
                    <small>{{createdAt}}</small>
                </div>
                <p class="mt-3 mb-3">{{descripcion}}
                </p>
                <div>
                    <a href="/pedidos/editar/{{_id}}" class="btn btn-primary mr-2">Editar</a>
                    <a href="/pedidos/delete/{{_id}}" class="btn btn-danger mr-2">Eliminar</a>
                    {{#eq total 0}}
                    <a href="/pedidos/items/{{_id}}" class="btn btn-success mr-2 disabled" tabindex="-1">Ver pedido</a>
                    <a href="/pedidos/items/{{_id}}" class="btn btn-info mr-2 disabled" tabindex="-1">Abono</a>
                    {{else}}
                    <a href="/pedidos/items/{{_id}}" class="btn btn-success mr-2">Ver pedido</a>
                    <a href="/pedidos/abono/{{_id}}" class="btn btn-info mr-2">Abono</a>
                    {{/eq}}
                    <a href="/pedidos/detalle/{{_id}}" class="btn btn-warning">Agregar articulo</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="menu p-4">
        <a href="/clientes" title="Debe seleccionar un cliente"
            class="d-flex flex-column align-items-center btn btn-primary btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/3225/3225094.svg" class="mb-2" width="50px"
                alt="Nuevo cliente">
            <p class="mb-0">Nuevo pedido</p>
        </a>
        <a href="/pedidos/" class="d-flex flex-column align-items-center btn btn-success btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/3142/3142387.svg" class="mb-2" width="50px"
                alt="Nuevo cliente">
            <p class="mb-0">Lista de pedidos</p>
        </a>
        <a href="/" class="d-flex flex-column align-items-center btn btn-secondary btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/609/609803.svg" class="mb-2" width="50px"
                alt="Nuevo cliente">
            <p class="mb-0">Inicio</p>
        </a>
    </div>
</div>