<div class="d-flex justify-content-between">
    <div class="lista pt-4 d-flex flex-wrap justify-content-center pl-4 w-75">
        {{#each productos}}
        <div class="card mr-4 mb-4" style="width: 18rem;">
            {{!-- <img src="{{imagen}}" class="p-4 card-img-top" style="max-width: 250;" alt="Imagen ilustrativa"> --}}
            <div class="card-body d-flex justify-content-center align-items-center px-3 pt-3 pb-0">
                <h3 class="card-title mb-0">{{descripcion}}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cantidad: {{cantidad}}</li>
                <li class="list-group-item">Costo: B/.{{costo}}</li>
                <li class="list-group-item">Precio venta: B/.{{precio_venta}}</li>
                {{#if proveedor.nombre}}
                <li class="list-group-item">Proveedor: {{proveedor.nombre}}</li>
                {{else}}
                <li class="list-group-item">Proveedor: <span style="font-style: italic;">Proveedor eliminado</span></li>
                {{/if}}
            </ul>
            {{!-- <div class="p-3 d-flex justify-content-center">
                <a href="/productos/editar/{{_id}}/{{proveedor._id}}" class="card-link">Editar</a>
                <a href="/productos/borrar/{{_id}}" class="card-link">Eliminar</a>
            </div> --}}
        </div>
        {{/each}}
    </div>
    <div class="menu pt-4 pr-4">
        <a href="/" class="d-flex flex-column align-items-center btn btn-light btn-block mb-3">
            <img src="https://image.flaticon.com/icons/svg/609/609803.svg" class="mb-2" width="50px" alt="Home">
            <p class="mb-0">Inicio</p>
        </a>
    </div>
</div>